NIPSEA.API/Logs/API_20250227.log
NIPSEA.API/bin/Debug/net8.0/NIPSEA.API.dll
NIPSEA.API/bin/Debug/net8.0/NIPSEA.API.pdb
NIPSEA.API/Logs/API_20250227.log
NIPSEA.API/obj/Debug/net8.0/NIPSEA.API.dll
NIPSEA.API/obj/Debug/net8.0/NIPSEA.API.pdb
.vs/NIPSEA.API/v17/DocumentLayout.json
.vs/NIPSEA.API/v17/DocumentLayout.backup.json
.vs/NIPSEA.API/v17/.suo
.vs/NIPSEA.API/FileContentIndex/a4b662a9-3066-4460-82f4-c63b7f0b437a.vsidx
.vs/NIPSEA.API/FileContentIndex/1323409b-65f0-4688-bb09-7a9c22a07dea.vsidx
